/* 
 * GitHub Repository Phishing Alert Appeal & Project Verification
이 페이지는 깃허브에서 발생한 피싱 경고 오탐지(False Positive)를 해명하고, 해당 코드가 순수한 학습 및 포트폴리오용임을 증명하기 위해 작성되었습니다.
This CSS is part of a student project. 
Any resemblance to real-world commercial sites is purely for design practice.
*/

/* ------------------------------------------------------------헤더 공통(메인기준) */
#wrap .reservation_btn:hover {
    background-color: #2251FF;
}
#wrap header { position:relative;}
#wrap header #head_contents .head_right .menu_btn {
    display: none; width: 24px; height: 20px; position: relative;
    background: none; border: none; cursor: pointer;
}
#wrap header #head_contents .head_right .menu_btn span {
    position: absolute; left: 0; width: 100%; height: 2px; background: #000;
}
#wrap header #head_contents .head_right .menu_btn span:nth-child(1) {top: 0;}
#wrap header #head_contents .head_right .menu_btn span:nth-child(2) {top: 9px;}
#wrap header #head_contents .head_right .menu_btn span:nth-child(3) {bottom: 0;}
#wrap header #head_contents .head_right a:nth-child(1) img {}
#wrap header #head_contents .head_right a:nth-child(2) img {}
#wrap header #head_contents .head_right a img {filter: invert(100%);}
#wrap header.scroll {
    position: sticky; top:0; background-color: #fff;
}
#wrap header.scroll #head_contents .head_left #gnb li a {color: #000;}
#wrap header.scroll #head_contents .head_right a img {filter: invert(0);}
#wrap header #head_contents {
    display:flex; flex-flow:row nowrap; justify-content: space-between; align-items: center;
    max-width:1440px; margin:0 auto; height: 70px;
}
#wrap header #head_contents .head_left {
    display: flex; gap: 50px; height: 100%;
}
#wrap header #head_contents .head_left .logo {}
#wrap header #head_contents .head_left .logo a {}
#wrap header #head_contents .head_left .logo a img {
    position: relative; top: 15px;
}
#wrap header #head_contents .head_left #gnb {
    display: flex; gap: 40px; align-items: center;
    height: 100%;
}
#wrap header #head_contents .head_left #gnb > li {height: 100%;}
#wrap header #head_contents .head_left #gnb > li > a {
    color: #fff; font-weight: 600; line-height: 70px;
    display: inline-block; height: 100%;
}
#wrap header #head_contents .head_left #gnb > li > a:hover {
    color: #446CFF; transition: color 0.3s ease;
}
#wrap header.on #head_contents .head_left #gnb > li > a:hover {
    color: #446CFF; transition: color 0.3s ease;
}
/* #wrap header #head_contents .head_left #gnb > li:nth-child(1) .lnb {
    display: flex;width: 100vw; height:35px;position: absolute; left: 0; bottom: -35px;
    gap:15px; background-color: #fff; padding-left: 360px; border-top: 1px solid #ddd;
} */
#wrap header #head_contents .head_left #gnb > li .lnb_bg {
    position: absolute; left: 0; top: 70px; border-top: 1px solid #ddd;
    width: 100vw; display: none; background-color: #fff;
}
#wrap header #head_contents .head_left #gnb > li .lnb_bg .lnb {
    width: 1200px; 
    min-width: 320px; 
    height: 50px;
    margin: 0 auto;
    /* align-items: center;
    justify-content: center; */
    gap:40px;
    white-space: nowrap;
    z-index: 1000;
    display: flex;
    /* display: none; /* JS에서 제어하시니 유지 */ */
}
#wrap header #head_contents .head_left #gnb > li:nth-child() .lnb {}
#wrap header #head_contents .head_left #gnb > li .lnb li {height: 100%;}
#wrap header #head_contents .head_left #gnb > li .lnb li a {
    line-height: 50px;
}
#wrap header #head_contents .head_right {
    display: flex; flex-flow: row nowrap; align-items: center; gap:10px;
}
#wrap header #head_contents .head_right .search {}
#wrap header #head_contents .head_right .search img {}
#wrap header #head_contents .head_right .user {}
#wrap header #head_contents .head_right .user img {}
#wrap header #head_contents .head_right .like {}
#wrap header #head_contents .head_right .like img {}
#wrap header #head_contents .head_right .schedule {}
#wrap header #head_contents .head_right .schedule img {}
/* -----------------------------------------------------컨텐츠 배너 기본 */
#wrap .contents {width: 1440px; margin:0 auto 120px;}
#wrap .contents h1 {font-size: 1.88rem; font-weight: 600; text-align: center; margin-bottom: 50px;}
/* ----------------------------------------------------푸터 공통 */
#wrap footer {
    width: 100%; padding: 50px 40px; background-color: #000;
}
#wrap footer .logo {margin-bottom: 20px;}
#wrap footer .logo a {}
#wrap footer .logo a img {}
#wrap footer .foot_top {
    display: flex; justify-content: space-between;
    margin-bottom: 8px;
}
#wrap footer .foot_top .foot_info {
    display: flex;  gap: 12px;
}
#wrap footer .foot_top .foot_info li:nth-child(2):after,
#wrap footer .foot_top .foot_info li:nth-child(3):after {
    content: '';
    display: block;
    height: 11px; width: 1px;
    background-color: #fff;
    position: absolute;
    left: -6px; top: 3px;
}
#wrap footer .foot_top .foot_info li {position: relative;}
#wrap footer .foot_top .foot_info li a {color: #fff;}
#wrap footer .foot_top .foot_sns {
    display: flex; align-items: center;
    gap: 12px;
}
#wrap footer .foot_top .foot_sns li {}
#wrap footer .foot_top .foot_sns li:nth-child(3) {margin-right: 10px;}
#wrap footer .foot_top .foot_sns li a {}
#wrap footer .foot_top .foot_sns li a img {}
#wrap footer p {
    color: #fff; font-size: 0.75rem; line-height: 1.5;
    
}
#wrap footer address {margin-bottom: 20px;}
#wrap footer address p {}
#wrap footer address p:nth-child(1) {margin-bottom: 4px;}
#wrap footer > p {}