#wrap header {border-bottom: 1px solid #ddd; margin-bottom: 20px;}
#wrap header #head_contents .head_left #gnb li a {color: #000;}
#wrap header #head_contents .head_right a img {filter: invert(100%);}
/* ----------------------------------------------------------------sticky sidebar 시작 */
#wrap main #main_wrap {max-width: 1440px; margin: 50px auto;}
#wrap main #main_wrap #sticky_sidebar {
    float: right; padding: 20px 15px;
    border: 1px solid #ddd; border-radius: 15px;
    position: sticky; top: 20px;
}
#wrap main #main_wrap #sticky_sidebar h1 {
    font-size: 1.13rem; padding-bottom: 18px; border-bottom: 1px solid #ddd;
}
#wrap main #main_wrap #sticky_sidebar .side_info {
    display: flex; flex-flow: column; gap: 8px;
    padding: 15px 0; border-bottom: 1px solid #ddd;
}
#wrap main #main_wrap #sticky_sidebar .side_info dl {
    display: flex; justify-content: space-between;
}
#wrap main #main_wrap #sticky_sidebar .side_info dt,
#wrap main #main_wrap #sticky_sidebar .side_info dd {font-size: 0.78rem;}
#wrap main #main_wrap #sticky_sidebar .side_info .change_btn {
    background-color: #f0f0f0; padding: 10px 0; border-radius: 10px;
    font-size: 0.88rem;
}
#wrap main #main_wrap #sticky_sidebar .party {
    padding: 15px; border-bottom: 1px solid #ddd;
    display: flex; flex-flow: column; gap: 8px;
}
#wrap main #main_wrap #sticky_sidebar .party .party_count h2,
#wrap main #main_wrap #sticky_sidebar .party .party_count p {font-size: 0.92rem;}
#wrap main #main_wrap #sticky_sidebar .party .party_count .adult_detail, 
#wrap main #main_wrap #sticky_sidebar .party .party_count .kid_detail, 
#wrap main #main_wrap #sticky_sidebar .party .party_count .baby_detail {display: flex; align-items: center; justify-content: space-between;}
#wrap main #main_wrap #sticky_sidebar .party .party_count .counter {
    display: flex; align-items: center; margin-top: 4px;
}
#wrap main #main_wrap #sticky_sidebar .party .party_count .counter button img {scale: 0.8;}
#wrap main #main_wrap #sticky_sidebar .party .party_count .counter .count {width: 20px; text-align: center;}
#wrap main #main_wrap #sticky_sidebar .dc {
    padding: 15px 0; display: flex; flex-flow: column; gap: 6px;
    border-bottom: 1px solid #ddd;
}
#wrap main #main_wrap #sticky_sidebar .dc dl {display: flex; justify-content: space-between;}
#wrap main #main_wrap #sticky_sidebar .dc dl dt,
#wrap main #main_wrap #sticky_sidebar .dc dl dd {font-size: 0.82rem;}
#wrap main #main_wrap #sticky_sidebar .dc .dc_info dd {text-decoration: underline;}
#wrap main #main_wrap #sticky_sidebar .price_reserv {padding: 15px 0; display: flex; flex-flow: column; gap: 12px; text-align: right;}
#wrap main #main_wrap #sticky_sidebar .price_reserv .price {font-size: 1.28rem; font-weight: 600; text-align: right;}
#wrap main #main_wrap #sticky_sidebar .price_reserv .point {}
#wrap main #main_wrap #sticky_sidebar .price_reserv .point a {height: 100%; display: inline-block;}
#wrap main #main_wrap #sticky_sidebar .price_reserv .point p {font-size: 0.72rem;display: inline-block;}
#wrap main #main_wrap #sticky_sidebar .price_reserv .reservation_btn {
    padding: 12px 0; background-color:#446CFF ;
    border-radius: 10px; color: #fff; 
}
#wrap main #main_wrap #sticky_sidebar .price_reserv .cs_info {display: flex; gap:4px;margin: 0 auto;}
/* ---------------------------------------------------------------------------main wrap시작 */
#wrap main #main_wrap #main_left {max-width: 1160px;}
#wrap main #main_wrap #main_left .main_info .info_top {display: flex; align-items: end; justify-content: space-between;}
#wrap main #main_wrap #main_left .main_info .detail_title .category {display: flex; margin-bottom: 12px;}
#wrap main #main_wrap #main_left .main_info .detail_title .category a {font-size: 0.75rem;}
#wrap main #main_wrap #main_left .main_info .detail_title h1 {font-size: 1.39rem; font-weight:600;line-height: 1.34;}
#wrap main #main_wrap #main_left .main_info .theme_level {
    display: grid; gap: 6px;
    grid-template-areas:
        'nature activity'
        'city heal';
}
#wrap main #main_wrap #main_left .main_info .theme_level .theme {display: flex; align-items: center; gap: 4px;}
#wrap main #main_wrap #main_left .main_info .theme_level .theme1 {grid-area: 'nature';}
#wrap main #main_wrap #main_left .main_info .theme_level .theme2 {grid-area: 'city';}
#wrap main #main_wrap #main_left .main_info .theme_level .theme3 {grid-area: 'activity';}
#wrap main #main_wrap #main_left .main_info .theme_level .theme4 {grid-area: 'heal';}
#wrap main #main_wrap #main_left .main_info .theme_level .theme p {font-size: 0.88rem; width:60px;}
#wrap main #main_wrap #main_left .main_info .theme_level .theme:nth-child(2) p,
#wrap main #main_wrap #main_left .main_info .theme_level .theme:nth-child(4) p {font-size: 0.88rem; width:30px;}
#wrap main #main_wrap #main_left .main_info .theme_level .theme .level {}
#wrap main #main_wrap #main_left .main_info .theme_level .theme .level img{}
#wrap main #main_wrap #main_left .main_info .tags {display: flex; gap: 8px; margin: 15px 0;}
#wrap main #main_wrap #main_left .main_info .tags p {
    font-size: 0.75rem;color: #446CFF; border: 1px solid #446CFF;
    padding: 5px 8px; border-radius: 5px;
}
#wrap main #main_wrap #main_left .main_info .tags .suggest {color:#FF9F00;border: 1px solid #FF9F00;}
/* ------------------------------------------------상단 이미지 스와이퍼 */
#wrap main #main_wrap #main_left .main_info .photo_wrap .swiper-wrapper .swiper-slide > img {width: 100%; height: 100%;}
#wrap main #main_wrap #main_left .main_info .photo_wrap .swiper-wrapper .slide2,
#wrap main #main_wrap #main_left .main_info .photo_wrap .swiper-wrapper .slide4,
#wrap main #main_wrap #main_left .main_info .photo_wrap .swiper-wrapper .slide6 {width:250px !important;}
#wrap main #main_wrap #main_left .main_info .photo_wrap .swiper-wrapper .swiper-slide img {border-radius: 30px;}
#wrap main #main_wrap #main_left .main_info .photo_wrap .swiper-wrapper .swiper-slide .photos {height:80% ;display: flex; flex-flow: column; gap: 20px;}
#wrap main #main_wrap #main_left .main_info .photo_wrap .swiper-wrapper .swiper-slide .photos .photo_review {
    position: relative;
}
#wrap main #main_wrap #main_left .main_info .photo_wrap .swiper-wrapper .swiper-slide .photos .photo_review img {}
#wrap main #main_wrap #main_left .main_info .photo_wrap .swiper-wrapper .swiper-slide .photos .photo_review p {
    position: absolute; top: 20px; left: 20px; font-size: 0.75rem; background-color: #fff;
    padding: 5px 8px; border-radius: 50px; color: #446CFF;
}
/* -------------------------------------------에필로그 */
#wrap main #main_wrap #main_left .epilogue {margin: 15px 0;}
#wrap main #main_wrap #main_left .epilogue .epilogue_top {display: flex; align-items: end; margin: 12px 0;}
#wrap main #main_wrap #main_left .epilogue .epilogue_top img {scale: 0.8; position: relative; bottom:-5px;}
#wrap main #main_wrap #main_left .epilogue .epilogue_top h2 {font-size: 1.13rem; font-weight: 600; margin-right: 6px;}
#wrap main #main_wrap #main_left .epilogue .epilogue_top a em {font-size: 0.80rem;}
#wrap main #main_wrap #main_left .epilogue .review_wrap {height: 160px;}
#wrap main #main_wrap #main_left .epilogue .review_wrap .swiper-wrapper {}
#wrap main #main_wrap #main_left .epilogue .review_wrap .swiper-wrapper .swiper-slide {
    padding: 18px; background: #F2F3F8; border-radius: 15px; height: 100%;
    display: flex; flex-flow: column; justify-content: space-between;
}
#wrap main #main_wrap #main_left .epilogue .review_wrap .swiper-wrapper .swiper-slide
#wrap main #main_wrap #main_left .epilogue .review_wrap .swiper-wrapper .swiper-slide .review_top .star_point {display: flex;}
#wrap main #main_wrap #main_left .epilogue .review_wrap .swiper-wrapper .swiper-slide .review_top .star_point .star {display: flex; gap: 2px;}
#wrap main #main_wrap #main_left .epilogue .review_wrap .swiper-wrapper .swiper-slide .review_top .star_point .star img {width: 12px; height: 12px;}
#wrap main #main_wrap #main_left .epilogue .review_wrap .swiper-wrapper .swiper-slide .review_top .star p {font-size: 0.82rem;}
#wrap main #main_wrap #main_left .epilogue .review_wrap .swiper-wrapper .swiper-slide .review_top > p {
    font-size: 0.82rem; line-height: 1.5;margin: 8px 0; display: -webkit-box;
    -webkit-line-clamp: 4; overflow: hidden; -webkit-box-orient:vertical ;
}
#wrap main #main_wrap #main_left .epilogue .review_wrap .swiper-wrapper .swiper-slide .name_date {}
#wrap main #main_wrap #main_left .epilogue .review_wrap .swiper-wrapper .swiper-slide .name_date span { float:right;font-size: 0.82rem; color: #777;}
/* ---------------------------------------------------------------------------상품가 */
#wrap main #main_wrap #main_left .price_info {margin-top: 28px;}
#wrap main #main_wrap #main_left .price_info h2 {font-size: 1.13rem; font-weight: 600;}
#wrap main #main_wrap #main_left .price_info .chart {
    width: 100%; text-align: center; margin: 15px 0 10px;
}
#wrap main #main_wrap #main_left .price_info .chart .chart_top {border-top: 2px solid #444; background-color: #ddd;}
#wrap main #main_wrap #main_left .price_info .chart tr th {font-weight: 500;}
#wrap main #main_wrap #main_left .price_info .chart tr th,
#wrap main #main_wrap #main_left .price_info .chart tr td {width: calc(100% / 4); padding: 15px 0;border-right: 1px solid #999;}
#wrap main #main_wrap #main_left .price_info .chart tr th:nth-child(4),
#wrap main #main_wrap #main_left .price_info .chart tr td:nth-child(4) { border-right: none;}
#wrap main #main_wrap #main_left .price_info .chart .chart_btm {border-bottom: 1px solid #999;}
#wrap main #main_wrap #main_left .price_info p {font-size: 0.72rem; color: #777; margin-left: 20px; position: relative;}
#wrap main #main_wrap #main_left .price_info p::before {
    content: ''; display: block; position: absolute;
    width: 6px; height: 6px; background-color: #777;
    border-radius: 100%;left: -10px;top: 3px;
}
/* ------------------------------------------중앙네비 */
#wrap main #main_wrap #main_left .mid_nav {
    width: 100%; margin: 80px 0 40px; position: sticky; top:0;
    z-index: 200; background-color: #fff;
}
#wrap main #main_wrap #main_left .mid_nav .nav_wrap {display: flex;}
#wrap main #main_wrap #main_left .mid_nav .nav_wrap li {
    width: calc(100% / 4); border: 1px solid #ddd;
}
#wrap main #main_wrap #main_left .mid_nav .nav_wrap li a {
    display: flex; justify-content: center;
    padding: 20px 0;
}
#wrap main #main_wrap #main_left .mid_nav .nav_wrap li:nth-child(1) a img {scale: 0.8;}
#wrap main #main_wrap #main_left .mid_nav .nav_wrap li:nth-child(3) a img {scale: 0.8;}
#wrap main #main_wrap #main_left .mid_nav .nav_wrap li.active {background-color: #446CFF; border: 1px solid #446CFF;}
#wrap main #main_wrap #main_left .mid_nav .nav_wrap li.active a img {filter: invert(100%);}
#wrap main #main_wrap #main_left .mid_nav .nav_wrap li.active a p {color: #fff;}
#wrap main #main_wrap #main_left .mid_nav .nav_wrap li a img {}
#wrap main #main_wrap #main_left .mid_nav .nav_wrap li a p {}
/* ----------------------------------------------------------------상품상세(이미지대체) */
/* ----------------------------------------------------------------일정 */
#wrap main #main_wrap #main_left .schedule {border-top: 1px solid #ddd; padding: 40px 0;}
#wrap main #main_wrap #main_left .schedule h2 {font-size: 1.13rem; font-weight: 600; margin-bottom: 15px;}
#wrap main #main_wrap #main_left .schedule .schedule_img_view {
    max-height: 400px; overflow: hidden;
}
#wrap main #main_wrap #main_left .schedule .schedule_img .view_more::before {}
#wrap main #main_wrap #main_left .schedule .schedule_img .view_more {
    width: 100%; text-align: center; border: 1px solid #ddd; padding: 12px 0;
    border-radius: 10px;
}
/* ---------------------------------------------------만나는 시간/장소 */
#wrap main #main_wrap #main_left .meeting_time {padding: 40px 0; border-top: 1px solid #ddd;}
#wrap main #main_wrap #main_left .meeting_time .time {margin-bottom: 20px;}
#wrap main #main_wrap #main_left .meeting_time .spot {}
#wrap main #main_wrap #main_left .meeting_time .time h2,
#wrap main #main_wrap #main_left .meeting_time .spot h2 {
    font-size: 1.13rem; font-weight:600;
    margin-bottom: 10px;
}
#wrap main #main_wrap #main_left .meeting_time .time p, 
#wrap main #main_wrap #main_left .meeting_time .spot p {
    font-size: 1.05rem; position: relative; margin-left: 20px;
}
#wrap main #main_wrap #main_left .meeting_time .time p::before, 
#wrap main #main_wrap #main_left .meeting_time .spot p::before {
    content: ''; display: block;
    width: 6px; height: 6px; border-radius: 100%; background-color: #000;
    position: absolute; left: -12px; top: 6px;
}
/* -------------------------------------------------------포함 불포함 사항 */
#wrap main #main_wrap #main_left .check_list {
    padding:40px 0; border-top: 1px solid #ddd;
}
#wrap main #main_wrap #main_left .check_list h2 {font-size: 1.13rem; font-weight: 600; margin-bottom: 20px;}
#wrap main #main_wrap #main_left .check_list .include {margin-bottom: 16px;}
#wrap main #main_wrap #main_left .check_list .include h3 {font-weight: 500; margin-bottom: 10px;}
#wrap main #main_wrap #main_left .check_list .include .list p {
    font-size: 0.88rem; line-height: 1.5; position: relative;
    margin-left:20px ;
}
#wrap main #main_wrap #main_left .check_list .include .list p::before {
    content: ''; display: block; position: absolute;
    width: 14px; height: 14px;
    background-image: url(../images/detail/check_g.png);
    background-size: cover;
    left: -18px; top: 4px;
}
#wrap main #main_wrap #main_left .check_list .not_include {}
#wrap main #main_wrap #main_left .check_list .not_include h3 {font-weight: 500; margin-bottom: 10px;}
#wrap main #main_wrap #main_left .check_list .not_include .list {}
#wrap main #main_wrap #main_left .check_list .not_include .list p {
    font-size: 0.88rem; line-height: 1.5; position: relative;
    margin-left:20px ;
}
#wrap main #main_wrap #main_left .check_list .not_include .list p::before {
    content: ''; display: block; position: absolute;
    width: 14px; height: 14px;
    background-image: url(../images/detail/check_ng.png);
    background-size: cover;
    left: -18px; top: 4px;
}
/* -----------------------------------------------------취소환불 규정 */
#wrap main #main_wrap #main_left .refund {
    border-top: 1px solid #ddd; padding: 40px 0;
}
#wrap main #main_wrap #main_left .refund h2 {font-size: 1.13rem; font-weight: 600; margin-bottom: 20px;}
#wrap main #main_wrap #main_left .refund .refund_txt {}
#wrap main #main_wrap #main_left .refund .refund_txt p {
    font-size: 0.88rem; line-height: 1.5; position: relative;
    margin-left: 20px; margin-bottom: 6px;
}
#wrap main #main_wrap #main_left .refund .refund_txt p::before {
    content: ''; display: block; position: absolute;
    width:6px; height: 6px; border-radius: 100%; background-color: #000;
    left: -12px; top: 7px;
}
#wrap main #main_wrap #main_left .refund .refund_txt .refund_amount {}
#wrap main #main_wrap #main_left .refund .refund_txt .refund_amount span {
    font-size: 0.88rem;display: block; line-height: 1.5;
    margin-left: 20px;
}
#wrap main #main_wrap #main_left .refund .refund_txt em  {
    font-size: 0.88rem;display: inline-block; margin-top: 18px;
}
/* ------------------------------------------------------관련 추천 상품 */
#wrap main #main_wrap #main_left .relative_item {width: 100%; padding: 40px 0 80px; border-top: 1px solid #ddd;}
#wrap main #main_wrap #main_left .relative_item h2 {font-size: 1.13rem; font-weight: 600; margin-bottom: 20px;}
#wrap main #main_wrap #main_left .relative_item .item_list {display: flex; gap: 15px;}
#wrap main #main_wrap #main_left .relative_item .item_list li {}
#wrap main #main_wrap #main_left .relative_item .item_list li a {}
#wrap main #main_wrap #main_left .relative_item .item_list li a img {border-radius: 30px;}
#wrap main #main_wrap #main_left .relative_item .item_list li a .list_title {margin: 10px 0 18px;}
#wrap main #main_wrap #main_left .relative_item .item_list li a .list_title h3 {
    font-weight: 500;margin-bottom: 6px;
}
#wrap main #main_wrap #main_left .relative_item .item_list li a .list_title .tag {display: flex; gap: 6px;}
#wrap main #main_wrap #main_left .relative_item .item_list li a .list_title .tag p {font-size: 0.75rem;}
#wrap main #main_wrap #main_left .relative_item .item_list li a > p {font-size: 0.75rem; margin-bottom: 6px;}
#wrap main #main_wrap #main_left .relative_item .item_list li a > p span {}
#wrap main #main_wrap #main_left .relative_item .item_list li a .price {
    font-size: 1.05rem; font-weight: 600;
    color: #446CFF;
}