#wrap {
    position: relative;
    margin: 0 auto;
}
#wrap header {position: absolute; width: 100%; z-index: 100;}
#wrap main {}
#wrap footer {}
/* -------------------------------------------------------헤더 시작 */
#wrap header #head_contents {
    display:flex; flex-flow:row nowrap; justify-content: space-between; align-items: center;
    padding: 0 240px; height: 70px;
}
#wrap header #head_contents .head_left {
    display: flex; gap: 50px;
}
#wrap header #head_contents .head_left .logo {}
#wrap header #head_contents .head_left .logo a {}
#wrap header #head_contents .head_left .logo a img {}
#wrap header #head_contents .head_left #gnb {
    display: flex; gap: 40px; align-items: center;
}
#wrap header #head_contents .head_left #gnb li {}
#wrap header #head_contents .head_left #gnb li a {
    color: #fff; font-weight: 600; line-height: 1.5;
}
#wrap header #head_contents .head_right {
    display: flex; flex-flow: row nowrap; align-items: center; gap:10px;
}
#wrap header #head_contents .head_right .search {}
#wrap header #head_contents .head_right .search img {}
#wrap header #head_contents .head_right .user {}
#wrap header #head_contents .head_right .user img {}
#wrap header #head_contents .head_right .like {}
#wrap header #head_contents .head_right .like img {}
#wrap header #head_contents .head_right .schedule {}
#wrap header #head_contents .head_right .schedule img {scale: 1.1;}
/* -------------------------------------------------------헤더 끝 */
/* --------------------------------------------------------메인 시작 */
#wrap #hero_wrap {
    position: relative; height: 100vh;
    width: 100%;
    margin-bottom: 160px;
}
#wrap #hero_wrap .hero_list  {
    width: 1560px;height:55px; display: flex; flex-flow: row nowrap;
    justify-content: space-around;
    position: absolute; bottom: 0;left: 50%;transform: translateX(-50%);
    border-top-right-radius: 15px; z-index: 100;
}
#wrap #hero_wrap .hero_list li  {
    height: 100%; text-align: center;
    width: calc(100% / 6); overflow: hidden;
}
#wrap #hero_wrap .hero_list li:nth-child(1) {border-top-left-radius: 15px;}
#wrap #hero_wrap .hero_list li:last-child {border-top-right-radius: 15px;}
#wrap #hero_wrap .hero_list .active  {background-color: #446CFF; opacity: 1;}
#wrap #hero_wrap .hero_list li a {
    display: inline-block; width: 100%; height: 100%;
    color: #fff; line-height: 55px; background-color: #000;opacity: 0.6
}
#wrap #hero_wrap .hero_video {
    display: block; width: 100%; overflow:hidden;height: 100vh;
    position: absolute; top: 0; right: 0; display: none;
}
#wrap #hero_wrap .hero_video video {width:100%;}
#wrap #hero_wrap .hero_video img {width: 100%;}
#wrap #hero_wrap .hero_video .hero_txt {
    position: absolute; top: 65%; left: 240px;
}
#wrap #hero_wrap .hero_video .hero_txt .hero_tag p,
#wrap #hero_wrap .hero_video .hero_txt h2 {color: #fff; font-weight: 600;}
#wrap #hero_wrap .hero_video .hero_txt .hero_tag {display: flex; gap: 8px;}
#wrap #hero_wrap .hero_video .hero_txt .hero_tag p {font-size: 1.5rem; margin-bottom: 10px;}
#wrap #hero_wrap .hero_video .hero_txt h2 {font-size: 2.88rem;}
#wrap #hero_wrap .hero_v1 {}
#wrap #hero_wrap .hero_v2 {}
#wrap #hero_wrap .hero_v3 {}
#wrap #hero_wrap .hero_v4 {}
#wrap #hero_wrap .hero_v5 {}
#wrap #hero_wrap .hero_v6 {}
/* --------------------------------------------------------테마별 여행 */
#wrap .theme_category {
    display:flex; flex-flow:row nowrap; justify-content: space-around;
    margin-bottom:160px; padding: 0 50px;
}
#wrap .theme_category li {width: calc((100% / 6) - 24px);border-radius: 50px; overflow: hidden;}
#wrap .theme_category li a {
    background-size: 100%; background-position: center;
    transition: background-size 0.5s ease;
}
#wrap .theme_category li a:hover {background-position: center; background-size: 115%;}
#wrap .theme_category li:nth-child(1) a {
    background-image: url(../images/common/friend_theme.png); display: inline-block; width: 100%; height: 200px;
}
#wrap .theme_category li:nth-child(2) a {
    background-image: url(../images/common/food_theme.png); display: inline-block; width: 100%; height: 200px;
}
#wrap .theme_category li:nth-child(3) a {
    background-image: url(../images/common/solo_theme.png); display: inline-block; width: 100%; height: 200px;
}
#wrap .theme_category li:nth-child(4) a {
    background-image: url(../images/common/couple_theme.png); display: inline-block; width: 100%; height: 200px;
}
#wrap .theme_category li:nth-child(5) a {
    background-image: url(../images/common/activity_theme.png); display: inline-block; width: 100%; height: 200px;
}
#wrap .theme_category li:nth-child(6) a {
    background-image: url(../images/common/healing_theme.png); display: inline-block; width: 100%; height: 200px;
}
#wrap .theme_category li a p {
    display:inline-block;  font-size: 1.13rem; font-weight:500;
    width: 100%; text-align: center; background: rgba(0, 0, 0, 0.3); border-radius: 50px;
    color: #fff; line-height: 200px; overflow: hidden;
}
/* ------------------------------------------------------봄 여행지 추천 */
#wrap .spring2026 {text-align: center; width: 100%;}
#wrap .spring2026 h1 {margin-bottom: 50px;}
#wrap .spring2026 .swiper {overflow: hidden;}
#wrap .spring2026 .swiper .swiper-wrapper {/* display: flex; justify-content: space-between; */ align-items: end;}
#wrap .spring2026 .swiper .swiper-wrapper .swiper-slide {
    height: 460px; background-position: center; background-size: cover; border-radius: 30px;
    display: flex; flex-flow: column; justify-content: end;
}
#wrap .spring2026 .swiper .swiper-wrapper .swiper-slide-active {
    /* transform: scale(1.2);transform-origin: bottom center; z-index: 10; */
    height: 520px; width: 100%;
}
#wrap .spring2026 .swiper .swiper-wrapper .swiper-slide-active h2 {font-size: 1.22rem;}
#wrap .spring2026 .swiper .swiper-wrapper .swiper-slide-active p {}
#wrap .spring2026 .pick {}
#wrap .spring2026 .pick .swiper-wrapper .slide1 a {background-image: url(../images/common/spring_kyoto.jpg);}
#wrap .spring2026 .pick .swiper-wrapper .slide2 a {background-image: url(../images/common/spring_rome.png);}
#wrap .spring2026 .pick .swiper-wrapper .slide3 a {background-image: url(../images/common/spring_bangkok.png);}
#wrap .spring2026 .pick .swiper-wrapper .slide4 a {background-image: url(../images/common/spring_flower.png);}
#wrap .spring2026 .pick .swiper-wrapper .slide5 a {background-image: url(../images/common/spring_newyork.png);}
#wrap .spring2026 .pick .swiper-wrapper .slide6 a {background-image: url(../images/common/spring_kyoto.jpg);}
#wrap .spring2026 .pick .swiper-wrapper .slide7 a {background-image: url(../images/common/spring_rome.png);}
#wrap .spring2026 .pick .swiper-wrapper .slide8 a {background-image: url(../images/common/spring_kyoto.jpg);}
#wrap .spring2026 .pick .swiper-wrapper .slide9 a {background-image: url(../images/common/spring_rome.png);}
#wrap .spring2026 .pick .swiper-wrapper .slide10 a {background-image: url(../images/common/spring_bangkok.png);}
#wrap .spring2026 .pick .swiper-wrapper .slide11 a {background-image: url(../images/common/spring_flower.png);}
#wrap .spring2026 .pick .swiper-wrapper .slide12 a {background-image: url(../images/common/spring_newyork.png);}
#wrap .spring2026 .pick .swiper-wrapper .slide13 a {background-image: url(../images/common/spring_kyoto.jpg);}
#wrap .spring2026 .pick .swiper-wrapper .slide14 a {background-image: url(../images/common/spring_rome.png);}
#wrap .spring2026 .pick .swiper-wrapper .swiper-slide .spring_txt {
    display: inline-block; background-position: center; background-size:cover;
    text-align: left; height: 100%; border-radius: 30px;
    display: flex; flex-flow: column; justify-content: end;
    padding:0 0 30px 30px;
}
#wrap .spring2026 .pick .swiper-wrapper .swiper-slide .spring_txt::after {
    content: ''; position: absolute;
    left: 0; bottom: 0;
    width: 100%;height: 40%;
    background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0));
    z-index: 0; border-radius: 30px;
}
#wrap .spring2026 .pick .swiper-wrapper .swiper-slide .spring_txt h2,
#wrap .spring2026 .pick .swiper-wrapper .swiper-slide .spring_txt p {
    color: #fff;
    position: relative; z-index: 10;
    line-height: 1.5;
}
#wrap .spring2026 .pick .swiper-wrapper .swiper-slide .spring_txt h2 {font-size: 1.18rem; font-weight: 600;}
#wrap .spring2026 .pick .swiper-wrapper .swiper-slide .spring_txt p {font-weight: 300;}
/* --------------------------------------------------------대륙별 여행지 추천 */
#wrap .suggest_time {width:100%;}
#wrap .continent_suggest {}
#wrap .continent_suggest h1 {text-align: center; margin-bottom: 30px;}
#wrap .continent_suggest .continent_list {
    display: flex; justify-content: center;
    width: 1100px; margin: 0 auto;
}
#wrap .continent_suggest .continent_list li {width:calc(1100px / 5); text-align: center; position:relative;}
#wrap .continent_suggest .continent_list li a {
    font-size:1.13rem; display: block; width: 100%; height: 50px;
    line-height: 50px;
}
#wrap .continent_suggest .continent_list li a.active {color:#446CFF;}
#wrap .continent_suggest .continent_list li a.active::after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0%;
    transform: translateX(-50%) translate(45deg);
    width: 100%; height: 50px;
    background-color:#F2F6FA ;
    clip-path: polygon(15% 0%, 85% 0%, 100% 100%, 0% 100%);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    z-index: -1;
}
#wrap .continent_suggest .suggest_contents_bg {background-color: #F2F6FA; position: relative; padding: 55px 0;}
#wrap .continent_suggest .suggest_contents_bg .suggest_contents {
    width: 1440px; margin: 0 auto; display: flex; gap: 20px;
    display: none;
}
#wrap .continent_suggest .suggest_contents_bg .suggest_contents.active {display: flex;}
/* ------------------------------------------------------------대륙 개별선택 */
#wrap .continent_suggest .suggest_contents_bg .asia.active {}
#wrap .continent_suggest .suggest_contents_bg .america {}
#wrap .continent_suggest .suggest_contents_bg .europe {}
#wrap .continent_suggest .suggest_contents_bg .oceania {}
#wrap .continent_suggest .suggest_contents_bg .africa {}
#wrap .continent_suggest .suggest_contents_bg .active {}
#wrap .continent_suggest .suggest_contents_bg .suggest_contents .left_video {
    width: 887px; position: relative; border-radius: 30px; height: 565.9px;
    overflow: hidden;
}
#wrap .continent_suggest .suggest_contents_bg .suggest_contents .left_video video {
    height: 100%;
}
#wrap .continent_suggest .suggest_contents_bg .suggest_contents .left_video .video_txt {
    position: absolute; bottom: 146px; left: 50px;
}
#wrap .continent_suggest .suggest_contents_bg .suggest_contents .left_video .video_txt p:nth-child(1) {
    font-size: 2.25rem; line-height: 0.9;
}
#wrap .continent_suggest .suggest_contents_bg .suggest_contents .left_video .video_txt p:nth-child(3) {
    font-size: 1.13rem; line-height: 1.5;
}
#wrap .continent_suggest .suggest_contents_bg .suggest_contents .left_video .video_txt p {color: #fff; font-weight: 600;}
#wrap .continent_suggest .suggest_contents_bg .suggest_contents .left_video .video_txt h2 {
    font-size: 3.13rem; color: #fff; font-weight: 600; line-height: 1.3;
}
#wrap .continent_suggest .suggest_contents_bg .suggest_contents .right_list {
    width:calc(100% - 907px); display: flex; flex-flow: column; gap: 20px;
}
#wrap .continent_suggest .suggest_contents_bg .suggest_contents .right_list .right_card {
    background-color:#fff; border-radius: 30px; padding: 30px; height: 100%;
    display: flex; gap: 20px;
}
#wrap .continent_suggest .suggest_contents_bg .suggest_contents .right_list .right_card img {border-radius: 30px;}
#wrap .continent_suggest .suggest_contents_bg .suggest_contents .right_list .right_card .card_txt {
    display: flex; flex-flow: column; justify-content: space-between; width: 100%;
}
#wrap .continent_suggest .suggest_contents_bg .suggest_contents .right_list .right_card .card_txt .card_txt_top {}
#wrap .continent_suggest .suggest_contents_bg .suggest_contents .right_list .right_card .card_txt .card_txt_top h2 {
    font-size: 1.25rem; font-weight: 500; line-height: 1.5; margin-bottom: 15px;
}
#wrap .continent_suggest .suggest_contents_bg .suggest_contents .right_list .right_card .card_txt .card_txt_top .badge_group {
    display: flex; flex-flow: row wrap; gap: 8px;
}
#wrap .continent_suggest .suggest_contents_bg .suggest_contents .right_list .right_card .card_txt .badge_group span {
    font-size: 0.75rem; padding: 2px 8px; border: 1px solid #446CFF; border-radius: 10px; color: #446CFF;
    
}
#wrap .continent_suggest .suggest_contents_bg .suggest_contents .right_list .right_card .card_txt .price_arrow {}}
#wrap .continent_suggest .suggest_contents_bg .suggest_contents .right_list .right_card .card_txt .price_arrow .price {font-size: 1.25rem;}
#wrap .continent_suggest .suggest_contents_bg .suggest_contents .right_list .right_card .card_txt .price_arrow .arrow {
    float: right;
}

/* -----------------------------------------------------------------------타임특가 */
#wrap #time_deal {background-color: #E6F1FB;}
#wrap #time_deal .time_contents {
    width: 1440px; margin: 0 auto;
    display: flex; align-items: center; gap: 50px;
}
/* -------------------타임특가 스와이퍼 공통선택자 */
#wrap #time_deal .time_contents {}
#wrap #time_deal .time_contents .swiper {width:810px; height: 570px; margin: 105px 0; border-radius: 30px;}
#wrap #time_deal .time_contents .swiper .swiper-wrapper {}
#wrap #time_deal .time_contents .swiper .swiper-wrapper .swiper-slide {}
#wrap #time_deal .time_contents .swiper .swiper-wrapper .swiper-slide .time_bg_img {
    width: 100%; height: 570px;
    background-image: url(../images/main/timedeal_img.jpg);
    background-size: cover;
}
/* ------------------타임특가 개별선택자 */
#wrap #time_deal .time_contents .left_img {}
#wrap #time_deal .time_contents .left_img .swiper-wrapper {}
#wrap #time_deal .time_contents .left_img .swiper-wrapper .slide1 {}
#wrap #time_deal .time_contents .left_img .swiper-wrapper .slide2 {}
#wrap #time_deal .time_contents .left_img .swiper-wrapper .slide3 {}
#wrap #time_deal .time_contents .time_info {
    height: 570px;display: flex; flex-flow: column; justify-content: space-between;
    width: 400px;
}
#wrap #time_deal .time_contents .time_info .badge {
    font-size: 0.75rem; color: #FF9F00; display: block; width: max-content;
    padding: 10px 15px; border:1px solid #FF9F00; border-radius: 30px; background-color: #fff;
}
#wrap #time_deal .time_contents .time_info span {
    font-size: 2.88rem; font-weight: 600; line-height: 1.4;
}
#wrap #time_deal .time_contents .time_info .package {}
#wrap #time_deal .time_contents .time_info .package h2 {
    font-size: 1.75rem; font-weight: 600; margin-bottom: 15px;
}
#wrap #time_deal .time_contents .time_info .package .badge_group {
    display: flex; flex-flow: row wrap; gap: 8px;
}
#wrap #time_deal .time_contents .time_info .package .badge_group p {
    font-size: 0.75rem;
}
#wrap #time_deal .time_contents .time_info .price_info {}
#wrap #time_deal .time_contents .time_info .price_info .dc_info {
    font-size: 0.88rem; width: 180px; display: inline-block;
    color: #446CFF;height: 48px;text-align: center; line-height: 38px;
    background-image: url(../images/main/txtbox.png);
    background-size: cover;
}
#wrap #time_deal .time_contents .time_info .price_info .price_detail {
    display: flex; flex-flow: row nowrap; align-items: end ; gap: 4px;
}
#wrap #time_deal .time_contents .time_info .price_info .price_detail .prev_price {height: max-content;}
#wrap #time_deal .time_contents .time_info .price_info .price_detail .prev_price del {color: #777;}
#wrap #time_deal .time_contents .time_info .price_info .price_detail .price {font-size: 2.13rem; font-weight: 500;}
#wrap #time_deal .time_contents .time_info .reservation_btn {
    font-size: 1.25rem; font-weight: 500; color:#fff; border-radius: 50px;
    width: 280px; height: 50px; background-color: #446CFF;
}
/* ----------------------------------------------------------------------테일즈BEST */
#wrap .best_wrap {width: 100%;margin: 0 auto;}
#wrap .best_wrap h1 {text-align: center; margin-bottom: 50px;}
#wrap .best_wrap .best_list {
    display: flex; width: 1440px; margin: 0 auto; gap: 20px;
}
#wrap .best_wrap .best_list li {width:100%; border-radius: 30px; overflow: hidden;}
#wrap .best_wrap .best_list li:nth-child(1) .best_card {
    background-image:linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,0.7) 100%), url(../images/main/best1.jpg);
}
#wrap .best_wrap .best_list li:nth-child(2) .best_card {
    background-image:linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,0.7) 100%), url(../images/main/best2.jpg)
}
#wrap .best_wrap .best_list li:nth-child(3) .best_card {
    background-image:linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,0.7) 100%), url(../images/main/best3.jpg)
}
#wrap .best_wrap .best_list li:nth-child(4) .best_card {
    background-image:linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,0.7) 100%), url(../images/main/best4.jpg)
}
#wrap .best_wrap .best_list li:nth-child(1) .best_card,
#wrap .best_wrap .best_list li:nth-child(2) .best_card,
#wrap .best_wrap .best_list li:nth-child(3) .best_card,
#wrap .best_wrap .best_list li:nth-child(4) .best_card {
    background-size: cover; background-position: center;
    height: 500px; width: 100%;
}
#wrap .best_wrap .best_list li .best_card { 
    padding: 30px; display: flex; align-items: end;
}
#wrap .best_wrap .best_list li .best_card .best_txt {
    display: flex; flex-flow: column; gap: 11px;
    width: 100%;
}
#wrap .best_wrap .best_list li .best_card .best_txt .badge_group {
    display: flex; flex-flow: row wrap; gap: 5px;
}
#wrap .best_wrap .best_list li .best_card .best_txt .badge_group .day {color: #FF9F00;}
#wrap .best_wrap .best_list li .best_card .best_txt .badge_group span {
    font-size: 0.75rem; color: #446CFF; background-color: #fff; padding: 5px 10px;
    border-radius: 50px; font-weight: 500;
}
#wrap .best_wrap .best_list li .best_card .best_txt h2 {
    font-size: 1.63rem; color: #fff; line-height: 1.5;
    font-weight: 600;
}
#wrap .best_wrap .best_list li .best_card .best_txt .tag {
    display: flex; gap:8px; flex-flow: row wrap;
}
#wrap .best_wrap .best_list li .best_card .best_txt .tag p {
    font-size: 0.81rem; color: #fff; line-height: 1.5;
}
#wrap .best_wrap .best_list li .best_card .best_txt .price {
    font-size: 1.88rem; font-weight: 600; color: #fff;
    line-height: 1.5;
}
#wrap .best_wrap .best_list li .best_card .best_txt .best_reserve_btn {
    font-size: 1.13rem; font-weight: 600; color: #fff; display: block;
    width: 100%; background-color: #446CFF; padding: 15px 0; border-radius: 50px;
}
#wrap .best_wrap > p {text-align: center; margin-top: 25px; color: #444;}

/* --------------------------------------------------------------이벤트 */
#wrap .event_bnr {width:1440px;margin: 100px auto 160px;}
#wrap .event_bnr .event_swiper {}
#wrap .event_bnr .event_swiper .swiper-wrapper {align-items: end;}
#wrap .event_bnr .event_swiper .swiper-wrapper .swiper-slide {display: flex; align-items: end;}
#wrap .event_bnr .event_swiper .swiper-wrapper .swiper-slide img {width: 100%; border-radius: 20px;}
#wrap .event_bnr .event_swiper .swiper-wrapper .slide1 {}
#wrap .event_bnr .event_swiper .swiper-wrapper .slide2 {}
#wrap .event_bnr .event_swiper .swiper-wrapper .slide3 {}
/* --------------------------------------------------------숏츠로 보는 여행정보 */
#wrap .shorts {}
#wrap .shorts h1 {text-align: center; margin-bottom: 50px;}
#wrap .shorts .shorts_list {
    display: flex; gap: 20px;
}
#wrap .shorts .shorts_list li {
    width: 100%; height: 570px; position: relative;
    padding: 20px;
}
#wrap .shorts .shorts_list li .thumb,
#wrap .shorts .shorts_list li .short_video {
    width: 100%; height: 100%; position: absolute; top: 0; left: 0;
    object-fit: cover; border-radius: 20px;
}
#wrap .shorts .shorts_list li .short_video {opacity: 0;}
#wrap .shorts .shorts_list li:hover .short_video {opacity: 1;}
#wrap .shorts .shorts_list li:hover .thumb {opacity: 0;}
#wrap .shorts .shorts_list li .shorts_txt {}
#wrap .shorts .shorts_list li .shorts_txt .view_count {
    position: absolute; background-color: rgba(0,0,0,0.3);
    padding: 8px 15px; border-radius: 15px; display: flex; align-items: center;
    gap: 2px;
}
#wrap .shorts .shorts_list li .shorts_txt .view_count img {width: 16px;}
#wrap .shorts .shorts_list li .shorts_txt .view_count span {
    color: #fff; font-weight: 3 00;
}
#wrap .shorts .shorts_list li .shorts_txt > img {
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
}
#wrap .shorts .shorts_list li:hover .shorts_txt > img {opacity: 0;}
#wrap .shorts .shorts_list li .shorts_txt p {
    z-index: 100; position: absolute; bottom: 20px; color: #fff;
    font-weight: 500;
}
#wrap .shorts .shorts_list li .view_detail {
    position: absolute; bottom:-45px; z-index: 200; left: 0px;
    font-size: 1.25rem; font-weight: 500; color: #446CFF;
    border: 1px solid #446CFF; width: 100%; padding: 8px 0;
    border-radius: 12px;
}
/* -------------------------------------------------------메인 끝 */
/* -------------------------------------------------------푸터 시작 */
#wrap footer {
    width: 100%; padding: 50px 240px; background-color: #000;
}
#wrap footer .logo {margin-bottom: 20px;}
#wrap footer .logo a {}
#wrap footer .logo a img {}
#wrap footer .foot_top {
    display: flex; justify-content: space-between;
    margin-bottom: 8px;
}
#wrap footer .foot_top .foot_info {
    display: flex;  gap: 12px;
}
#wrap footer .foot_top .foot_info li:nth-child(2):after,
#wrap footer .foot_top .foot_info li:nth-child(3):after {
    content: '';
    display: block;
    height: 11px; width: 1px;
    background-color: #fff;
    position: absolute;
    left: -6px; top: 3px;
}
#wrap footer .foot_top .foot_info li {position: relative;}
#wrap footer .foot_top .foot_info li a {color: #fff;}
#wrap footer .foot_top .foot_sns {
    display: flex; align-items: center;
    gap: 12px;
}
#wrap footer .foot_top .foot_sns li {}
#wrap footer .foot_top .foot_sns li:nth-child(3) {margin-right: 10px;}
#wrap footer .foot_top .foot_sns li a {}
#wrap footer .foot_top .foot_sns li a img {}
#wrap footer p {
    color: #fff; font-size: 0.75rem; line-height: 1.5;
    
}
#wrap footer address {margin-bottom: 20px;}
#wrap footer address p {}
#wrap footer address p:nth-child(1) {margin-bottom: 4px;}
#wrap footer > p {}}