#wrap {
    position: relative;
    margin: 0 auto;
}
#wrap header {position: absolute; width: 100%; z-index: 100;}
#wrap main {}
#wrap footer {}
/* -------------------------------------------------------헤더 시작 */
#wrap header #head_contents {
    display:flex; flex-flow:row nowrap; justify-content: space-between; align-items: center;
    padding: 0 240px; height: 70px;
}
#wrap header #head_contents .head_left {
    display: flex; gap: 50px;
}
#wrap header #head_contents .head_left .logo {}
#wrap header #head_contents .head_left .logo a {}
#wrap header #head_contents .head_left .logo a img {}
#wrap header #head_contents .head_left #gnb {
    display: flex; gap: 40px; align-items: center;
}
#wrap header #head_contents .head_left #gnb li {}
#wrap header #head_contents .head_left #gnb li a {
    color: #fff; font-weight: 600; line-height: 1.5;
}
#wrap header #head_contents .head_right {
    display: flex; flex-flow: row nowrap; align-items: center; gap:10px;
}
#wrap header #head_contents .head_right .search {}
#wrap header #head_contents .head_right .search img {}
#wrap header #head_contents .head_right .user {}
#wrap header #head_contents .head_right .user img {}
#wrap header #head_contents .head_right .like {}
#wrap header #head_contents .head_right .like img {}
#wrap header #head_contents .head_right .schedule {}
#wrap header #head_contents .head_right .schedule img {scale: 1.1;}
/* -------------------------------------------------------헤더 끝 */
/* --------------------------------------------------------메인 시작 */
#wrap #hero_wrap {
    position: relative;
    margin-bottom: 160px;
}
#wrap #hero_wrap .hero_video {display: block; width: 100%; overflow:hidden;height: 100vh;}
#wrap #hero_wrap .hero_video section {}
#wrap #hero_wrap .hero_video section video {width:100%;}
#wrap #hero_wrap .hero_video .hero_txt {
    position: absolute; top: 65%; left: 240px;
}
#wrap #hero_wrap .hero_video .hero_txt p,
#wrap #hero_wrap .hero_video .hero_txt h2 {color: #fff; font-weight: 600;}
#wrap #hero_wrap .hero_video .hero_txt p {font-size: 1.5rem; margin-bottom: 10px;}
#wrap #hero_wrap .hero_video .hero_txt h2 {font-size: 2.88rem;}
#wrap #hero_wrap .hero_list  {
    width: 1560px;height:55px; display: flex; flex-flow: row nowrap;
    justify-content: space-around;
    position: absolute; bottom: 0;left: 50%;transform: translateX(-50%);
    border-top-right-radius: 15px;
}
#wrap #hero_wrap .hero_list li  {
    height: 100%; text-align: center;
    width: calc(100% / 6); overflow: hidden;
}
#wrap #hero_wrap .hero_list li:nth-child(1) {border-top-left-radius: 15px;}
#wrap #hero_wrap .hero_list li:last-child {border-top-right-radius: 15px;}
#wrap #hero_wrap .hero_list .active  {background-color: #446CFF; opacity: 1;}
#wrap #hero_wrap .hero_list li a {
    display: inline-block; width: 100%; height: 100%;
    color: #fff; line-height: 55px; background-color: #000;opacity: 0.6
}
/* --------------------------------------------------------테마별 여행 */
#wrap .theme_category {
    display:flex; flex-flow:row nowrap; justify-content: space-around;
    margin-bottom:160px; padding: 0 50px;
}
#wrap .theme_category li {width: calc((100% / 6) - 24px);}
#wrap .theme_category li a {}
#wrap .theme_category li:nth-child(1) a {
    background-image: url(../images/common/friend_theme.png); display: inline-block; width: 100%; height: 200px;
}
#wrap .theme_category li:nth-child(2) a {
    background-image: url(../images/common/food_theme.png); display: inline-block; width: 100%; height: 200px;
}
#wrap .theme_category li:nth-child(3) a {
    background-image: url(../images/common/solo_theme.png); display: inline-block; width: 100%; height: 200px;
}
#wrap .theme_category li:nth-child(4) a {
    background-image: url(../images/common/couple_theme.png); display: inline-block; width: 100%; height: 200px;
}
#wrap .theme_category li:nth-child(5) a {
    background-image: url(../images/common/activity_theme.png); display: inline-block; width: 100%; height: 200px;
}
#wrap .theme_category li:nth-child(6) a {
    background-image: url(../images/common/healing_theme.png); display: inline-block; width: 100%; height: 200px;
}
#wrap .theme_category li a:hover {background-size:;}
#wrap .theme_category li a p {
    display:inline-block;  font-size: 1.13rem; font-weight:500;
    width: 100%; text-align: center; background: rgba(0, 0, 0, 0.3); border-radius: 50px;
    color: #fff; line-height: 200px;
}
/* ------------------------------------------------------봄 여행지 추천 */
#wrap .spring2026 {text-align: center; width: 100%;}
#wrap .spring2026 h1 {margin-bottom: 50px;}
#wrap .spring2026 .swiper {overflow: hidden;}
#wrap .spring2026 .swiper .swiper-wrapper {/* display: flex; justify-content: space-between; */ align-items: end;}
#wrap .spring2026 .swiper .swiper-wrapper .swiper-slide {
    height: 460px; background-position: center; background-size: cover; border-radius: 30px;
    display: flex; flex-flow: column; justify-content: end;
}
#wrap .spring2026 .swiper .swiper-wrapper .swiper-slide-active {
    /* transform: scale(1.2);transform-origin: bottom center; z-index: 10; */
    height: 520px; width: 100%;
}
#wrap .spring2026 .swiper .swiper-wrapper .swiper-slide-active h2 {font-size: 1.22rem;}
#wrap .spring2026 .swiper .swiper-wrapper .swiper-slide-active p {}
#wrap .spring2026 .pick {}
#wrap .spring2026 .pick .swiper-wrapper .slide1 a {background-image: url(../images/common/spring_kyoto.jpg);}
#wrap .spring2026 .pick .swiper-wrapper .slide2 a {background-image: url(../images/common/spring_rome.png);}
#wrap .spring2026 .pick .swiper-wrapper .slide3 a {background-image: url(../images/common/spring_bangkok.png);}
#wrap .spring2026 .pick .swiper-wrapper .slide4 a {background-image: url(../images/common/spring_flower.png);}
#wrap .spring2026 .pick .swiper-wrapper .slide5 a {background-image: url(../images/common/spring_newyork.png);}
#wrap .spring2026 .pick .swiper-wrapper .slide6 a {background-image: url(../images/common/spring_kyoto.jpg);}
#wrap .spring2026 .pick .swiper-wrapper .slide7 a {background-image: url(../images/common/spring_rome.png);}
#wrap .spring2026 .pick .swiper-wrapper .slide8 a {background-image: url(../images/common/spring_kyoto.jpg);}
#wrap .spring2026 .pick .swiper-wrapper .slide9 a {background-image: url(../images/common/spring_rome.png);}
#wrap .spring2026 .pick .swiper-wrapper .slide10 a {background-image: url(../images/common/spring_bangkok.png);}
#wrap .spring2026 .pick .swiper-wrapper .slide11 a {background-image: url(../images/common/spring_flower.png);}
#wrap .spring2026 .pick .swiper-wrapper .slide12 a {background-image: url(../images/common/spring_newyork.png);}
#wrap .spring2026 .pick .swiper-wrapper .slide13 a {background-image: url(../images/common/spring_kyoto.jpg);}
#wrap .spring2026 .pick .swiper-wrapper .slide14 a {background-image: url(../images/common/spring_rome.png);}
#wrap .spring2026 .pick .swiper-wrapper .swiper-slide .spring_txt {
    display: inline-block; background-position: center; background-size:cover;
    text-align: left; height: 100%; border-radius: 30px;
    display: flex; flex-flow: column; justify-content: end;
    padding:0 0 30px 30px;
}
#wrap .spring2026 .pick .swiper-wrapper .swiper-slide .spring_txt::after {
    content: ''; position: absolute;
    left: 0; bottom: 0;
    width: 100%;height: 40%;
    background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0));
    z-index: 0; border-radius: 30px;
}
#wrap .spring2026 .pick .swiper-wrapper .swiper-slide .spring_txt h2,
#wrap .spring2026 .pick .swiper-wrapper .swiper-slide .spring_txt p {
    color: #fff;
    position: relative; z-index: 10;
    line-height: 1.5;
}
#wrap .spring2026 .pick .swiper-wrapper .swiper-slide .spring_txt h2 {font-size: 1.18rem; font-weight: 600;}
#wrap .spring2026 .pick .swiper-wrapper .swiper-slide .spring_txt p {font-weight: 300;}
/* --------------------------------------------------------대륙별 여행지 추천 */
#wrap .continent_suggest {width: 100%;}
#wrap .continent_suggest h1 {text-align: center; margin-bottom: 30px;}
#wrap .continent_suggest .continent_list {
    display: flex; justify-content: center;
    width: 1100px; margin: 0 auto;
}
#wrap .continent_suggest .continent_list li {width:calc(1100px / 5); text-align: center;}
#wrap .continent_suggest .continent_list li a {
    font-size:1.13rem; display: block; width: 100%; height: 50px;
    line-height: 50px;
}
#wrap .continent_suggest .continent_list li a.active {}
#wrap .continent_suggest .suggest_contents_bg {background-color: #F2F6FA;}
#wrap .continent_suggest .suggest_contents_bg .suggest_contents {}
#wrap .continent_suggest .suggest_contents_bg .suggest_contents .left_video {}
#wrap .continent_suggest .suggest_contents_bg .suggest_contents .left_video section {}
#wrap .continent_suggest .suggest_contents_bg .suggest_contents .left_video section video {}
#wrap .continent_suggest .suggest_contents_bg .suggest_contents .left_video .video_txt {}
#wrap .continent_suggest .suggest_contents_bg .suggest_contents .left_video .video_txt p {}
#wrap .continent_suggest .suggest_contents_bg .suggest_contents .left_video .video_txt h2 {}
#wrap .continent_suggest .suggest_contents_bg .suggest_contents .right_list {}
#wrap .continent_suggest .suggest_contents_bg .suggest_contents .right_list a {}
#wrap .continent_suggest .suggest_contents_bg .suggest_contents .right_list a h2 {}
#wrap .continent_suggest .suggest_contents_bg .suggest_contents .right_list a p {}
/* -----------------------------------------------------------------------타임특가 */
#wrap #time_deal {}
#wrap #time_deal .time_contents {}
/* -------------------타임특가 스와이퍼 공통선택자 */
#wrap #time_deal .time_contents {}
#wrap #time_deal .time_contents .swiper {}
#wrap #time_deal .time_contents .swiper .swiper-wrapper {}
#wrap #time_deal .time_contents .swiper .swiper-wrapper .swiper-slide {}
/* ------------------타임특가 개별선택자 */
#wrap #time_deal .time_contents .left_img {}
#wrap #time_deal .time_contents .left_img .swiper-wrapper {}
#wrap #time_deal .time_contents .left_img .swiper-wrapper .slide1 {}
#wrap #time_deal .time_contents .left_img .swiper-wrapper .slide2 {}
#wrap #time_deal .time_contents .left_img .swiper-wrapper .slide3 {}
#wrap #time_deal .time_contents .time_info {}
#wrap #time_deal .time_contents .time_info .badge {}
#wrap #time_deal .time_contents .time_info span {}
#wrap #time_deal .time_contents .time_info .package {}
#wrap #time_deal .time_contents .time_info .package h2 {}
#wrap #time_deal .time_contents .time_info .package p {}
#wrap #time_deal .time_contents .time_info .price_info {}
#wrap #time_deal .time_contents .time_info .price_info p {}
#wrap #time_deal .time_contents .time_info .price_info p del {}
#wrap #time_deal .time_contents .time_info .reservation_btn {}
/* ----------------------------------------------------------------------테일즈BEST */
#wrap .best_wrap {}
#wrap .best_wrap h1 {}
#wrap .best_wrap .best_list {}
#wrap .best_wrap .best_list li {}
#wrap .best_wrap .best_list li img {}
#wrap .best_wrap .best_list li .best_item_info {}
#wrap .best_wrap .best_list li .best_item_info h2 {}
#wrap .best_wrap .best_list li .best_item_info p {}
#wrap .best_wrap > p {}
/* --------------------------------------------------------------이벤트 */
#wrap .event_swiper {}
#wrap .event_swiper .swiper-wrapper {}
#wrap .event_swiper .swiper-wrapper .swiper-slide {}
#wrap .event_swiper .swiper-wrapper .slide1 {}
#wrap .event_swiper .swiper-wrapper .slide2 {}
#wrap .event_swiper .swiper-wrapper .slide3 {}
/* --------------------------------------------------------숏츠로 보는 여행정보 */
#wrap .shorts {}
#wrap .shorts h1 {}
#wrap .shorts .shorts_list {}
#wrap .shorts .shorts_list li {}
#wrap .shorts .shorts_list li section {}
#wrap .shorts .shorts_list li section video {}
#wrap .shorts .shorts_list li .shorts_txt {}
#wrap .shorts .shorts_list li .shorts_txt h2 {}
#wrap .shorts .shorts_list li .shorts_txt p {}
/* -------------------------------------------------------메인 끝 */
/* -------------------------------------------------------푸터 시작 */
#wrap footer {}
#wrap footer .logo {}
#wrap footer .logo a {}
#wrap footer .logo a img {}
#wrap footer .foot_info {}
#wrap footer .foot_info li {}
#wrap footer .foot_info li a {}
#wrap footer address {}
#wrap footer p {}